* {
    /* border: 1px red solid; */
}

body{
    overflow-x: hidden;
    display: grid;
}

.header {
    display: flex;
    flex-direction: column;
    justify-self: center;

    h2 {
        font-family: "roboto-slab", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        text-align: center;
    }

    h3 {
        font-family: "franklin-gothic-std", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: center;
    }

    p {
        font-family: "franklin-gothic-std", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        text-align: center;
        margin: 1px;
    }

    img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 900px;
        z-index: -1;
    }
}

.essay {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 85%;
    width: 600px;

    h3 {
        font-family: "roboto-slab", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
    }

    p {
        font-family: "nimbus-roman", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        width: 100%;
        margin-top: 0px;
    }
}

a {
    color: inherit;
    text-decoration: underline #8C1E92 2.5px;
}

.form {
    overflow: auto;

    table {
        font-family: "franklin-gothic-std", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: center;
        border-collapse: collapse;

        td {
            border: 1px solid black;
        }

        input {
            accent-color: #8C1E92;
            min-width: 1px;
        }
    }
}

.table {
    display: flex;
    justify-content: center;

    table {
        font-family: "franklin-gothic-std", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: center;
        border-collapse: collapse;

        td {
            border: 1px solid black;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }

        th {
            border: 0px solid black;
            border-bottom-width: 2px;
            padding: 5px;
        }
    }
}

.image-container {
    p {
        font-family: "franklin-gothic-std", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    img {
        width: 100%;
    }
}

.footer {
    margin-top: 100px;

    font-family: "franklin-gothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;

    img {
        width: 30px;
        margin: 5px;
    }
}